@font-face {
  font-family: 'silkscreenbold';
  src: url('slkscrb-webfont.eot');
  src: url('slkscrb-webfont.eot?#iefix') format('embedded-opentype'), url('slkscrb-webfont.woff2') format('woff2'), url('slkscrb-webfont.woff') format('woff'), url('slkscrb-webfont.ttf') format('truetype'), url('slkscrb-webfont.svg#silkscreenbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkscreennormal';
  src: url('slkscr-webfont.eot');
  src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'), url('slkscr-webfont.woff2') format('woff2'), url('slkscr-webfont.woff') format('woff'), url('slkscr-webfont.ttf') format('truetype'), url('slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: #2b3a42;
  color: #efefef;
  padding: 10px;
  font-family: Lato;
  font-size: 18px;
  line-height: 1.7;
  max-width: 800px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'silkscreennormal';
  margin-bottom: 0px;
  line-height: 1.4;
  font-smooth: never;
  -webkit-font-smoothing: none;
}
a {
  color: #bdd4de;
}
a.title {
  text-decoration: none;
  color: #ff530d;
}
ul {
  padding-left: 20px !important;
}
ul.none {
  list-style-type: none;
  padding: 0;
}
code {
  background-color: #1d272c;
  color: #bdd4de;
  padding: 4px;
  margin: 4px;
}
hr {
  border: none;
  background-color: #3f5765;
  height: 3px;
}
p {
  margin-top: 0;
}
pre {
  background-color: #171f23;
  color: #efefef;
  overflow: scroll;
  max-width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}
.lineno {
  color: #565656;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.github-sample-reference {
  padding: 0 0 10px;
  font-size: 15px;
  border-bottom: 3px #3f5765 solid;
  margin-bottom: 20px;
}
.meta {
  font-size: 10pt;
  color: #3f5765;
  text-transform: uppercase;
  margin-top: -4px;
}
.footer {
  margin-top: 40px;
}
