---
layout: compress
---
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <title>{{ page.title }}</title>
                <meta name="viewport" content="width=device-width">

                <!-- font -->
                <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

                <!-- Custom CSS -->
                <link rel="stylesheet" href="/css/main.css.min">
        </head>
        <body>
                <h1><a href="/" class="title">{{ site.name }}</a></h1>

                {{ content }}

                <hr/>
                Charles Saternos<br />
                Software Developer<br />
                <ul class="none">
                {%for m in site.data.socialmedia %}
                <li><a href="{{ m.url }}">{{ m.title }}</a></li>
                {%endfor%}
                </ul>
        </body>
</html>
